<div class="container container-full-width">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
			<div class="thankyou-wrap">
				<div class="card text-white border-rad shadow-md border-0">
					<img class="card-img img-fluid" src="assets/img/thankyou.png" alt="Card image" width="600"
						height="300" />
					<div class="card-img-overlay border-rad">
						<div class="text-center">
							<h2 class="ty-card-title fw-200 negrito">Obrigado !</h2>
						</div>
					</div>
				</div>
				<div class="card border-0 border-rad card-shadow p-4 text-center w-65 mx-auto card-hover">
					<h2 class="font-2x mb-4">Recebemos o seu interesse de participação em nosso processo de seleção.</h2>
					<span class="negrito">Solicite atendimento agora ou aguarde o contato de um consultor. Agradecemos o seu interesse.</span>
					<p class="text-muted font-sm border-style">Conheça nossas redes sociais</p>
					<div class="social-without-bg mb-4">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a
									href="https://www.facebook.com/profile.php?id=61572325806986" target="_blank"><i
										class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://www.instagram.com/franquia.agencia.pagamento/"
									target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="https://www.youtube.com/c/Ag%C3%AAnciadePagamento"
									target="_blank"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
					<a href="https://api.whatsapp.com/send?phone=5562994076089&text=Quero%20participar%20do%20processo%20de%20seleção%20da%20agência%20de%20pagamento." target="_blank"
						class="btn btn-primary btn-block submit-btn btn-lg">ATENDIMENTO AGORA</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- container closed -->